<% if flash[:notice] %>
	<p><%= flash[:notice]  %></p>
<% end %>

<table>
	<h1>Book detail</h1>

	<thead>
		<tr>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>

	<tr>
		<th><%= @book.title %></th>
		<th><%= @book.body %></th>

		<% if @book.user == current_user %>
		<td>
			<%= link_to "Edit", edit_book_path(@book) %>
		</td>
		<td>
			<%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか?"} %>
		</td>
		<% end %>
	</tr>

</table>
